*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-top: 30vh;
}
.buttons{
    display: flex;
    width: 400px;
    height: 200px;
    justify-content: space-around;
    align-items: center;

    
}
#btn1 , .btn2{
    font-size: 30px;
}